<div style="display: flex; flex-direction: column; align-items: center;">
    <h1>Home Page</h1>
    <form action="/logout" method="POST" style="display: flex; flex-direction: column; align-items: center; ">
        <div>
            <button>Log out</button>
        </div>
    </form>
</div>
