<div style="display: flex; flex-direction: column; align-items: center;">
    <div><%= message %></div>
    <h1>Login Page</h1>
    <form action="/login" method="POST" style="display: flex; flex-direction: column; align-items: center; ">
        <div style="align-self: start; margin-bottom: 10px;">
            Email: <input type="text" name="email" style="width: 300px">
        </div>
        <div style="align-self: start">
            Password: <input type="password" name="password" style="width: 300px;">
        </div>
        <div style="display: flex; flex-direction: row;margin-top: 10px;">
            <div style="margin-right: 5px;">
                <button>Log in</button>
            </div>
            <a href="/signup">Sign up</a>
        </div>
    </form>
</div>
